<style>
.button {
  width: 80px;
}
</style>
<body onload="init()">
<div align = "center">
<canvas id = "inputCanvas" width = "448" height = "448"
        style="border:1px solid black">
</canvas>
</br>
<button id = "clearButton" class="button"> Clear </button>
<button id = "trainButton" class="button"> Train </button>
<button id = "submitButton" class="button"> Submit </button>
</div>
